/* Define o estilo geral */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

/* Contêiner principal */
.container {
    text-align: center;
}

/* Título */
h1 {
    font-size: 7rem;
    color: #2e7d32;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 1.5rem; /* Tamanho do texto */
    color: #555; /* Cor mais suave */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento entre o texto e os botões */
}

/* Estilização dos botões */
.button-group button {
    font-family: 'Poppins', sans-serif;
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

/* Efeito de hover nos botões */
.button-group button:hover {
    background-color: #1b5e20;
}

/* Rodapé */
footer {
    background-color: #2e7d32; /* Cor de fundo (verde escuro) */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px 20px; /* Espaçamento interno */
    position: fixed; /* Fixa o rodapé na parte inferior da página */
    bottom: 0; /* Alinha ao fundo */
    width: 100%; /* Largura total */
    font-size: 0.9rem; /* Tamanho menor para o texto */
}

footer p {
    margin: 0; /* Remove margens do texto */
}

/* Texto de cadastro */
.register {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

/* Link de cadastro */
.register-link {
    color: #2e7d32; /* Verde */
    font-weight: 600; /* Negrito */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: #1b5e20; /* Verde mais escuro ao passar o mouse */
}

.messages {
    position: absolute; /* Fixa no topo */
    top: 20px; /* Distância do topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o ponto de referência para o centro */
    width: 100%; /* Largura total */
    max-width: 600px; /* Largura máxima para não ficar muito grande */
    text-align: center; /* Centraliza o texto */
    z-index: 1000; /* Garante que a mensagem apareça acima dos outros elementos */
    margin: 0; /* Remove margens */
}

.alert {
    padding: 15px; /* Aumenta o padding para melhorar a aparência */
    border-radius: 5px;
    font-size: 1rem; /* Ajusta o tamanho do texto */
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destaque */
    margin: 0 auto; /* Centraliza a mensagem */
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

