{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Dok</title>
    <!-- Fonte Poppins -->
    <link rel="stylesheet" href="{% static 'website/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            <button type="submit">Entrar</button>
        </form>
        <!-- Adicionando o link para cadastro -->
        <p class="register">
            Não tem uma conta? <a href="{% url 'register' %}" class="register-link">Cadastre-se</a>
        </p>
    </div>
</body>
</html>
